<%= stylesheet_link_tag 'header' %>
<header>
  <div class="navbar-container">
    <div class="home">
      <%= link_to root_path, id: 'home' do %>
      Gaming Through Physics<span data-content="Gaming Through Physics" aria-hidden="true"></span>
        <% end %>
    </div>
    <div class="linked-pages">
      <div class="dropdown">
        <button class="learn">Learn &#127891</button>
        <div class="dropdown-content">
          <%= link_to "Projectile Motion", home_learn_projectile_path %>
          <%= link_to "Friction", home_learn_friction_path %>
        </div>
      </div>
        <%= link_to "Games", home_games_path, id: 'games' %>
        <% if Current.user %>
          <%= link_to "Welcome, "+ Current.user.username, home_games_path, id: 'welcome' %>
        <% else %>
          <%= link_to "Login", sign_in_path, id: 'login' %>
        <% end %>
    </div>
  </div>
</header>