<%= stylesheet_link_tag 'header' %>
<header>
  <div class="navbar-container">
    <span class="home-slide"><%= link_to "Gaming Through Physics", root_path, 'aria-hidden' => "true" %></span>
    <%= link_to "Gaming Through Physics", root_path, id: 'home' %>
    <div class="linked-pages">
      <div class="dropdown">
        <button class="learn">Learn &#127891</button>
        <div class="dropdown-content">
          <%= link_to "Projectile Motion", home_learn_projectile_path %>
          <%= link_to "Friction", home_learn_friction_path %>
        </div>
      </div>
        <%= link_to "Games", home_games_path, id: 'games' %>
        <%= link_to "Login", home_login_path, id: 'login' %>
    </div>
  </div>
</header>